<style>
head {
  font: 30, Times New Roman;
  Color:blue;
}

body {
  color: lightblue;
}
h1 {
  font:20, Times New Roman,serif;
  color: blue;
}
p {
  font:12, arial, sans-serif;
}
h2 {
  font:18, Times New Roman, serif;;
  color: yellow;
}
</style>
