<style>
head {
  font:timesnewroman;
  font-size:30;
  Color: lightblue;
}

body {
  background-color: blue;
}
h1 {
  font:timesnewroman;
  font-size:20;
  color: lightblue;
}
p {
  font:arial;
  font-size:12;
  color:white;
}
h2 {
  font: timesnewroman;
  font-size:18;
  color: lightblue;
}
</style>
